#a{
    display: block;
    background: #00bef8;
    border:1px solid #000000;
    -moz-border-radius: 10px;
    -webkit-border-radious: 10px;
    border-radius: 10px;
    width: 900px;



}

h1{
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color: #ffffff;
  }

  body{
    background-color: rgb(126, 77, 218);
    
  }

  #d{
    text-align: center;
  }