h1{
    display: block;
    background: #e96e0a;
   border:5px solid #000000;
    -moz-border-radius: 10px;
    -webkit-border-radious: 10px;
    border-radius: 10px;
    margin: 10px;
    text-align: right;
    position: absolute;
    top: 0;
    right: 0;
    font-family: 'Sedgwick Ave Display', cursive;
    
}
#1{
    font-family: 'Josefin Sans', sans-serif;
}
#2{
    font-family: 'Dancing Script', cursiva;
}
#3{
    font-family: 'Shadows Into Light', cursiva;
}

